
body{
  background-color: #808080;
}
.website-name {
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-size: 90px;
  margin: 0px 0px 0px 0px;
}
.tagline{
  /*font-family: 'Pacifico', cursive;*/
  color: white;
  background-color: rgba(0,0,0,.5);
  font-size: 30px;
  margin: 10px 0px 10px 0px;
}
.barcrawl{
  color: white;
}
.title{
  text-align: center;
  background-image: url("cocktails.jpg");
  margin: 0px 100px 0px 100px;
  height: 500px;
  background-size: cover;
  Background-position: center;
}
.location{
  font-family: 'Berkshire Swash', cursive;
  font-size: 80px;
  text-align: center;
  background: black;
  margin: 0px 100px 0px 100px;
  color: white;
}
.lists{
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  color: black;
}
ul{
  font-family: helvetica;
  text-align: center;
  color: black;
}
#map {
        height: 400px;
        width: cover;
        margin: 10px 0px 10px 0px;
       }   
