
body{
  background-color: #808080;
}
.website-name {
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-size: 90px;
  margin: 0px 0px 100px 0px;
  text-align: left;
}
.tagline{
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-size: 50px;
  margin: 110px 0px 10px 0px;
  background-size: contain;
  text-align: center;
  background-color: rgba(0,0,0,.5);
}
.barcrawl{
  color: white;
}
.btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  color: silver;
  background-color: rgba(0,0,0,.5);
  border-color: grey;
  margin: 20px 0px 10px 0px;
}
.title{
  background-image: url("cocktails.jpg");
  height: 500px;
  background-size: cover;
  Background-position: center;
  margin: 20px 0px 50px 0px;
}
.location{
  font-family: 'Berkshire Swash', cursive;
  font-size: 80px;
  text-align: center;
  background: black;
  margin: 0px 100px 0px 100px;
  color: white;
}
.lists{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}
ul{
  font-family: helvetica;
  text-align: center;
  color: black;
}
a{
  color: black;
}
#map {
  height: 500px;
  width: cover;
  margin: 10px 100px 10px 100px;
}
table{
  margin: 0px auto;
}
#CT{
  margin: 5px 20px 0px 0px;
}
