body{
  background-color: #808080;
}
.button {
  font family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  display: inline-flex;
  background-color: black;
  color: white;
  padding: 2px 2px 2px 2px;
  margin-top: 0px;
}
a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:'Yanone Kaffeesatz', sans-serif;
  font-size:25px;
}
h1{
  background-image: url("cocktails.jpg");
  height: 500px;
  background-size: cover;
  Background-position: center;
  margin: 20px 0px 50px 0px;
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-size: 90px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
h2{
  color: black;
  text-align: left;
  font-family:'Yanone Kaffeesatz', sans-serif;
  font-size:40px;
  }
p{
color: black;
text-align: left;
font-family:'Yanone Kaffeesatz', sans-serif;
font-size:20px;
}
